@import "./theme.css";

html,
body {
  @apply bg-primary text-secondary;
  font-family: "Jersey 25", sans-serif;
}

/* Hide scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

html {
  scrollbar-gutter: stable;
}
