@import "tailwindcss";

@theme {
  --font-display: "Jersey 25", "sans-serif";
  --animate-fade-in-up: fadeInUp 0.4s ease-out;
  --outline-width-default: 3px;
  --border-width-default: 3px;
  --border-width-card: 6px;
  --color-primary: #fffcff;
  --color-secondary: #1b1819;
  --color-tertiary: #ff1a1c;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    50% {
      opacity: 0.6;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
